.contenedor {
    background-color: cadetblue;
    width:100%; 
  }

  .lista {
    background-color:gold;
    width: 250px;
    border-radius: 100px;
  }
  .flex{
    display:;
    gap: 20px;
    align-content: flex-end;

  }